.catalog__tittle{
  margin-bottom: 110px;
}

.catalog{
  width: 1280px;
  margin: 0 auto;
  background-image: url("/product-card/images/dandelion_background.png");
  background-repeat: no-repeat;
  background-position: 85px 0;
  padding-top: 220px;
}